.coin-container{
    display:flex;
    justify-content:center
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #d7d7d7;
    width: 1000px;
}

.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 400px;
}

.coin h1{
    font-size: 16px;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.coin-symbol{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 800px;
    border-bottom: 1px solid #d7d7d7;
}

.coin-price{
    width: 80px;
}

.coin-volume{
    width: 200px;
}

.coin-marketcap{
    width: 150px;
}

.coin-percent{
    width: 100%;
}

.red{
    color: #f00606;
}

.green{
    color: #11d811;
}